

.specialButtons{
  width: 75%;
}

.specialButton{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 30px 5px 10px 30px;
    border-color: transparent;
    box-shadow: 0px 5px #322c2d;
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
    background-color: #225D9E;
    color: white;
    font-size: 3em;
    justify-content: center;
    
  }
