.container {
    background-color: #A81D36;
    width: 100%;
    max-width: 550px;
    min-width: 550px;
    max-height: 830px;
    min-height: 830px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
    flex: 1;
    margin: 0 auto;
}
  .display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
   
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    align-self : center;
    margin: 0 auto;
    padding-right: 8%;
    font-size: 5.0rem;
  }